@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Rubik+Mono+One&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Inconsolata", monospace;
  line-height: 1.5;
  font-weight: 700;

  color: $color-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  @include flex;
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@include respond("vertical-screen") {
  :root {
    font-size: 70%;
  }
}

@include respond("horizontal-screen") {
  :root {
    font-size: 75%;
  }
}
