$color-dark: #636d73;
$color-light: #f9f7e8;
$color-gray: #beb7ae;
$color-yellow: #f4e47d;
$color-red: #bf6358;
$color-background: #dbceb8;

$font-primary: "Rubik Mono One", sans-serif;
$font-secondary: "Inconsolata", monospace;

$font-size-sm: 1.5rem;
$font-size-sm: 1.5rem;
$font-size-lg: 5rem;

$font-weight-regular: 400;
$font-weight-bold: 900;

$gap: 1rem;
$gap-lg: 2rem;

$transition: 0.2s;

$border-radius: 0.5rem;
$border-radius-lg: 1rem;

$container-height: 70vh;
$container-height-vertical: 85vh;
$container-height-vertical-small: 95vh;
$container-width: 40rem;
$container-width-big: 60rem;

$grid-rows: 20;
$grid-columns: 11;
$grid-row-height: calc($container-height / $grid-rows);
$grid-row-height-vertical: calc($container-height-vertical / $grid-rows);
$grid-row-height-vertical-small: calc(
  $container-height-vertical-small / $grid-rows
);

$horizontal-padding: 0 $gap;
$horizontal-padding-lg: 0 $gap-lg;
$horizontal-padding-xl: 0 calc($gap-lg * 2);

$grid-rows-horizontal: 12;
$grid-columns-horizontal: 20;
$grid-row-height-horizontal: calc(100vh / $grid-rows-horizontal);
