@import "@/sass/index.scss";

.container {
  @include size($container-width, $container-height);
  @include border-radius($border-radius-lg);
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: repeat($grid-rows, 1fr);
  background-color: $color-light;
  overflow: hidden;
}

@include respond("big-desktop") {
  .container {
    @include size($container-width-big, $container-height);
  }
}

@include respond("vertical-screen") {
  .container {
    @include size(80%, 85%);
  }
}

@include respond("vertical-small-screen") {
  .container {
    @include size(100%, 95%);
    border-radius: 0;
    align-self: start;
  }
}

@include respond("horizontal-big-screen") {
  .container {
    @include size($container-width, 90%);
  }
}

@include respond("horizontal-screen") {
  .container {
    @include size(100%, 100%);
    grid-template-columns: repeat($grid-columns-horizontal, 1fr);
    grid-template-rows: repeat($grid-rows-horizontal, 1fr);
    border-radius: 0;
  }
}
