@import "@/sass/index.scss";

.btn {
  @include flex;
  @include font-properties($font-primary, $font-size-sm, $color-light);
  @include size(100%, 100%);
  background-color: $color-dark;
  border: none;
  cursor: pointer;
  transition: all $transition;

  &:hover {
    @include color($color-yellow, $color-dark);
  }

  &:focus {
    @include color($color-yellow, $color-dark);
    outline: none;
  }

  &--light {
    background-color: $color-gray;
    transition: background-color $transition;
  }
}

@include respond("horizontal-screen") {
  .btn {
    background-color: $color-gray;
  }
}
