@import "@/sass/index.scss";

.form {
  @include flex(stretch, space-between);
  @include size(auto, $grid-row-height);
  gap: calc(100% / $grid-columns);

  input {
    @include size(100%);
    @include border-radius(0, $border-radius, $border-radius);
    @include font-properties($font-secondary, $font-size-sm, $color-dark);
    background-color: $color-light;
    border: none;

    padding: $horizontal-padding;
    flex: 7;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-gray;
    }

    &:focus-visible {
      @include color($color-yellow, $color-dark);
    }
  }

  button {
    @include border-radius($border-radius, 0, 0);
    flex: 3;
  }
}

.error {
  input {
    background-color: $color-red;
    &::placeholder {
      color: $color-light;
    }
  }
}

@include respond("vertical-screen") {
  .form {
    height: $grid-row-height-vertical;
  }
}

@include respond("vertical-small-screen") {
  .form {
    height: $grid-row-height-vertical-small;
  }
}

@include respond("horizontal-screen") {
  .form {
    @include flex(center, center, column);
    @include size(100%, calc($grid-row-height-horizontal * 3));

    gap: 0;

    input,
    button {
      @include border-radius();
      width: calc(100% - 100vw / $grid-columns-horizontal * 2);
    }

    button {
      flex: 1;
    }

    input {
      padding: $horizontal-padding-lg;
      flex: 2;
    }
  }
}
