@import "@/sass/index.scss";

.selector {
  @include flex(center, space-between);
  @include size(100%, $grid-row-height);
  @include border-radius($border-radius, 0, 0);
  cursor: pointer;
  background-color: $color-dark;

  padding: $horizontal-padding;
  user-select: none;

  &--open {
    border-bottom-left-radius: 0;
  }

  &:focus-visible {
    @include color($color-yellow, $color-dark);
    outline: none;

    &:focus-within {
      > * {
        @include color($color-yellow, $color-dark);
      }
    }
  }
}

.selected-value,
.option {
  @include flex(center, start);
  @include font-properties($font-secondary, $font-size-sm, $color-light);
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

.selected-value {
  @include font-properties($font-secondary, $font-size-sm, $color-light);
  max-width: calc(100% - $gap-lg);
  height: 100%;
  background-color: $color-dark;
  flex: 1;
}

.option {
  max-width: 100%;
  height: $grid-row-height;
  background-color: $color-gray;
  padding: $horizontal-padding;

  &:hover {
    background-color: $color-yellow;
    color: $color-dark;
  }

  &:last-child {
    border-bottom-left-radius: $border-radius;
  }

  &:focus-visible {
    @include color($color-yellow, $color-dark);
  }
}

.arrow {
  @include size(0, 0);
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;

  border-right: 0.8rem solid $color-light;
  transition: all $transition;

  &-down {
    transform: rotate(-90deg);
  }
}

@include respond("vertical-screen") {
  .selector,
  .option {
    height: $grid-row-height-vertical;
  }
}

@include respond("vertical-small-screen") {
  .selector,
  .option {
    height: $grid-row-height-vertical-small;
  }
}

@include respond("horizontal-screen") {
  .selector,
  .option {
    @include border-radius();
    height: $grid-row-height-horizontal;
    padding: $horizontal-padding-lg;
  }
  .option:last-child {
    @include border-radius();
  }
}
