@import "@/sass/index.scss";

.logo {
  @include flex(start, space-between, column);
  @include font-properties(
    $font-primary,
    $font-size-sm,
    $color-dark,
    $font-weight-bold
  );
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@include respond("vertical-screen") {
  .logo {
    display: none;
  }
}

@include respond("horizontal-screen") {
  .logo {
    display: none;
  }
}
