@use "@/sass/index.scss" as g;

.logo {
  @include g.flex(start, start, column);
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@include g.respond("vertical-screen") {
  .logo {
    display: none;
  }
}

@include g.respond("horizontal-screen") {
  .logo {
    display: none;
  }
}
