@import "@/sass/index.scss";

.header {
  @include flex(center, space-between);
  @include size(100%);
  @include grid-position(1, 2, 1, -1);
  @include font-properties($font-secondary, $font-size-sm);
  @include color($color-gray, $color-light);
  padding: $horizontal-padding-lg;

  &--win,
  &--lose,
  &--error {
    p:first-of-type {
      @include font-properties($font-primary, $font-size-sm);
    }
  }
}

.centered {
  justify-content: center;
}

@include respond("horizontal-screen") {
  .header {
    padding: $horizontal-padding-xl;
  }
}
