@import "@/sass/index.scss";

.container {
  @include flex(stretch, space-between, column);
  @include grid-position(6, 10, 2, 11);
  @include size(auto, 100%);
}

.row {
  @include flex;
  @include size(fit-content, $grid-row-height);
  @include border-radius($border-radius);
  @include font-properties($font-secondary, $font-size-sm);
  padding: $horizontal-padding;
  color: $color-light;

  &--none {
    background-color: $color-dark;
  }

  &--win {
    @include color($color-yellow, $color-dark);
  }
  &--lose,
  &--error {
    background-color: $color-red;
  }
}

@include respond("vertical-screen") {
  .row {
    height: $grid-row-height-vertical;
  }
}

@include respond("vertical-small-screen") {
  .row {
    height: $grid-row-height-vertical-small;
  }
}

@include respond("horizontal-screen") {
  .container {
    @include flex(ends, space-between, column);
    @include grid-position(5, 9, 11, -1);
    margin: 0 auto;
  }

  .row {
    @include size(fit-content, $grid-row-height-horizontal);
    @include border-radius();
    padding: $horizontal-padding-lg;
  }
}
