.background {
  &--none {
    background-color: transparent;
  }

  &--win {
    background-color: rgb(39, 8, 130);
  }

  &--lose {
    background-color: rgb(62, 5, 5);
  }

  &--error {
    background-color: rgb(119, 6, 6);
  }
}
