@import "./sass/index.scss";

.background {
  @include flex;
  @include size(100%, 100vh);

  background-color: $color-background;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@include respond("vertical-small-screen") {
  .background {
    background-color: $color-light;
  }
}
