@import "@/sass/index.scss";

.title {
  @include flex(start, center, column);
  @include grid-position(2, 7, 1, -1);
  @include font-properties($font-primary, $font-size-lg, $color-dark);
  margin-left: $font-size-lg;

  span {
    text-shadow: -0.5rem 0 0 $color-gray;
  }
}

.tagline {
  @include flex(center, center);
  @include grid-position(1, 2, 1, -1);
  @include font-properties($font-primary, $font-size-sm, $color-light);
  background-color: $color-gray;
}

.themes {
  @include grid-position(10, 17, 7, -1);
}

.theme-label {
  @include flex(center, end);
  @include grid-position(10, 11, 2, 6);
  @include font-properties($font-secondary, $font-size-sm, $color-dark);
  color: $color-dark;
}

.start-btn {
  @include grid-position(19, 20, 1, 6);
  @include border-radius(0, $border-radius, $border-radius);
}

.cancel-btn {
  @include size(100%);
  @include grid-position(19, 20, 7, -1);
  @include border-radius($border-radius, 0, 0);
}

.backdrop {
  display: none;
}

@include respond("horizontal-screen") {
  .title {
    @include flex(center, center, column);
    @include grid-position(4, 11, 1, 11);
    margin: 0;
    color: $color-light;

    span {
      text-shadow: none;
    }
  }

  .start-btn {
    @include grid-position(11, 12, 1, 6);
    @include border-radius();
    @include font-properties($font-primary, $font-size-sm, $color-dark);
    background-color: $color-light;
  }

  .cancel-btn {
    @include grid-position(11, 12, 6, 11);
    @include border-radius();
  }

  .themes {
    @include grid-position(3, 4, 15, 20);
    height: $grid-row-height-horizontal;
  }

  .theme-label {
    @include flex(center, end);
    @include grid-position(3, 4, 12, 14);
  }

  .backdrop {
    @include grid-position(1, -1, 1, 11);
    display: flex;
    background-color: $color-dark;
  }
}
