@use "@/sass/index.scss" as g;

.title {
  @include g.flex(center, center, column);
  @include g.grid-position(2, 7, 1, -1);
  @include g.font-properties(
    g.$font-secondary,
    g.$font-size-xl,
    g.$color-black,
    g.$font-weight-bold
  );
}

.tagline {
  @include g.flex(center, center);
  @include g.grid-position(1, 2, 1, -1);
  @include g.font-properties(g.$font-primary, g.$font-size-md, g.$color-light);
  background-color: g.$color-gray;
}

.levels {
  @include g.flex;
  @include g.grid-position(7, 8, 1, -1);
}

.themes {
  @include g.grid-position(10, 17, 7, -1);
}

.themeLabel {
  @include g.flex(center, end);
  @include g.grid-position(10, 11, 2, 6);
  font-size: g.$font-size-md;
  color: g.$color-black;
}

.startBtn {
  @include g.grid-position(19, 20, 1, 6);
  @include g.border-radius(0, g.$border-radius, g.$border-radius);
}

.cancelBtn {
  @include g.size(100%);
  @include g.grid-position(19, 20, 7, -1);
  @include g.border-radius(g.$border-radius, 0, 0);
}

.active {
  background-color: g.$color-brown;
}

.backdrop {
  display: none;
}

@include g.respond("horizontal-screen") {
  .title {
    @include g.flex;
    @include g.grid-position(4, 11, 1, 11);
    color: g.$color-light;
  }

  .levels {
    @include g.flex;
    @include g.grid-position(3, 4, 1, 11);
  }

  .startBtn {
    @include g.grid-position(11, 12, 1, 6);
    @include g.border-radius();
    @include g.font-properties(
      g.$font-primary,
      g.$font-size-md,
      g.$color-black
    );
    background-color: g.$color-light;

    &:hover {
      color: g.$color-light;
    }
  }

  .cancelBtn {
    @include g.grid-position(11, 12, 6, 11);
    @include g.border-radius();
  }

  .themes {
    @include g.grid-position(3, 4, 15, 20);
    height: g.$grid-row-height-horizontal;
  }

  .themeLabel {
    @include g.flex(center, end);
    @include g.grid-position(3, 4, 12, 14);
  }

  .backdrop {
    @include g.grid-position(1, -1, 1, 11);
    display: flex;
    background-color: g.$color-black;
  }
}
